.Button{
    height: 100px;
    width: 200px;
    margin: 50px;
    background-color : $primaryColor;
    border: solid $defaultSpacing;
    float: left;
}
.Button:hover{
    background-color : white;
}